:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #0f0f0f;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
